{% extends 'base.html.twig' %}

{% block title %}Hello FormController!
{% endblock %}

{% block body %}


	{# <div {{ react_component('Modal', { 'button' : "click"} ) }}></div> #}
	<div {{ react_component('FormControll' ) }}></div>

{% endblock %}
